# Ignore all .tmp folders
**/.tmp/

# Ignore all folders containing the word 'video' in their name
**/*video*/

# Ignore any folder containing 'historia' in its name
**/*historia*/

# Ignore any folder containing 'imagenes' in its name
**/*imagenes*/

# Ignore any folder containing 'thumbnails' in its name
**/*thumbnails*/

# Ignore any files ending with "mp3"
**/*mp3

# Ignore any files ending with "mp4"
**/*mp4
