# Ignore all .tmp folders
**/.tmp/

# Ignore the content of all folders containing the word 'video' in their name
**/*videos*/**

# Ignore the content of any folder containing 'compilaciones' in its name
**/*compilaciones*/**

# Ignore the content of any folder containing 'imagenes' in its name
**/*imagenes*/**

# Ignore the content of any folder containing 'thumbnails' in its name
**/*thumbnails*/**

# Ignore any files ending with "mp3"
**/*mp3

# Ignore any files ending with "mp4"
**/*mp4
