[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "~=1.7.1"
click = "~=8.1.7"
numpy = "~=2.0.1"
pydub = "~=0.25.1"
moviepy = "~=1.0.3"
google-api-python-client = "~=2.139.0"
google-auth-oauthlib = "~=1.2.1"
pillow = "~=10.4.0"
tiktoken = "~=0.7.0"
requests-tor = "~=1.4"
bing-create = {git = "https://github.com/jdragonx/bing-create"}
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
